body {
	background: #272743;

}

body {
	color: white;
	font-family: 'PT Serif', serif;
   text-align: center;
	
}

.navbar {
    position: static;
     padding: 0.5rem;
     background-color: #272743;
     height: 40px;

 }
 
 .navbar .logo {
     position: relative; /* positioning will be explained in a resource */
     left: 2rem;
     cursor: pointer;  /* produces the finger-pointer icon when you hover over the logo */
 }
.navbar .logo {
     position: relative; /* positioning will be explained in a resource */
     left: 2rem;
 }

 .navbar .links-container {
     display: table;
     position: absolute;
     top: 0;
     right: 200;
     height: 55px;
     line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    opacity: .5;
   font-size: .75em;
    font-weight: 700;
    font-family: Lato,Helvetica Neue,sans-serif;
    letter-spacing: .2em;
        text-transform: uppercase;
     text-decoration: none;
 }
 
 .links-container .navbar-link {
     display: table-cell;
     position: relative;
     height: 10%;
     padding-left: 1rem;
     padding-right: 1rem;
     /* #4 */
     vertical-align: middle;
     color: white;
     font-size: 20px;
     letter-spacing: 0.05rem;
     font-weight: 700;
     text-transform: uppercase;
     /* #3 */
     text-decoration: none;
     cursor: pointer;
 }
 
   /* #5 */
 .links-container a:hover {
     background-color: #ddd;
    color: black;
  
 }

 .link-container .icon {
    display: none;
}

.hero-content{
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}



 #video-background  {

  position: static; // Play the video in full screen mode
  top: 0px; 
  left: 0px; 
  min-width: 1%; 
  min-height: 1%;
  z-index: -1; // Put the video behind all other elements
}

@media only screen and (max-width: 768px) {
  video {
    display:none;
  }
  body{
    background-image:url(“image.png”);
  }
}
  .ion-chevron-down {

  color: white;
     font-size: 5rem;
} 
.hero-content .hero-title {
     position: absolute;             /* positioning will be explained in a resource */
     top: 40%;    
    left:1px;            /* positioning will be explained in a resource */
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;                    /* makes sure the title inhabits the full width of its container */
    text-align: center;             /* aligns text in the horizontal center of the element */
     font-size: 4rem;                /* specifies the size of the font in root em units */
     font-weight: 300;
     font-family: "Futura PT W02 Heavy", Futura, "Trebuchet MS", Arial, sans-serif
;
              /* makes the font thinner or lighter weight */
    text-transform: uppercase;      /* transforms the text to be all uppercase lettering */
     letter-spacing: 0.2rem;         /* puts 0.5 root ems worth of space between each letter */
     text-shadow: 1px 1px 0px rgb(58,23,63);
     z-index: 2; 
     
     /* creates a shadow underneath the text for readability over the image */
 }

p {
    position: absolute;   
    display:block;          /* positioning will be explained in a resource */
     top: 58%;    
     right: 950px;                   /* positioning will be explained in a resource */
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
                /* aligns text in the horizontal center of the element */
     font-size: 1.6rem; 
     font-family: ;             /* specifies the size of the font in root em units */
     font-weight: 300;               /* makes the font thinner or lighter weight */
      /* transforms the text to be all uppercase lettering */
             /* puts 0.5 root ems worth of space between each letter */
     text-shadow: 1px 1px 0px rgb(58,23,63);
     z-index: 2; 
     text-align: left
     
}

.section5{
   
font-size: 20px;
 font-family: Judson, Georgia, serif
color:rgba(253, 253, 253, 0.7);
box-sizing: border-box
height: 100px;
font-style:italic;
text-align: center;
opacity: .5;
}



